.footer-simple-container {
    background-color: #282c34;
    min-height: 0vh;
    display: flex;
    margin-bottom: 100vh;
  }
  
.footer-simple-text {
  font-size: calc(10px + 1vmin);
  color: white;
}
  
.footer-simple-text-container {
  width: 100vw;
  text-align: center;
}

.backtofooters {
    position: absolute;
    top: 0vh;
    left: 0.5vw;
    border: 1px white solid;
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size:2rem;
    padding:5px;
    box-shadow: 0px 5px 0px 0px white;
}

.backtofooters:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px white;
}