.App {
  margin: 0;
}


:root {
  --background-color:  #282c34;
  --spacing: 8px;
  --spacing-little: calc(var(--spacing) *0.5);
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing)* 4);
}