.button-two {
    color: white;
    font-size: 2rem;
    background-color: var(--background-);
    padding:10px;
    cursor:pointer;
    border: 1px solid white;
    margin: 1rem;

}

.button-two:hover {
   transform: scale(1.1);
   transition: 0.3s ease-in-out;
}
.button-two:active {
    transform: scale(0.95);
}
